<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.xander.purge</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/local/bin/purge-memory</string>
	</array>
	<key>StartInterval</key>
	<integer>3600</integer>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardOutPath</key>
	<string>/Users/zerobyte/.config/livewallpaper/logs/purge.log</string>
	<key>StandardErrorPath</key>
	<string>/Users/zerobyte/.config/livewallpaper/logs/purge.log</string>
</dict>
</plist>
